<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Internet Issue Or Invalid URL</title>
  <style>
    :root {
      font: 1em sans-serif;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
      background: #093028;
      background: -webkit-linear-gradient(to bottom, #237A57, #093028);
      background: linear-gradient(to bottom, #237A57, #093028);
      font-family: sans-serif;
      color: #777;
      flex-wrap: wrap;
    }

    div {
      text-align: center;
    }

    h1,
    h2 {
      width: 100%;
    }
  </style>
</head>

<body>
  <div>
    <h1>You are not connected to the internet</h1>
  </div>
</body>

</html>