<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #0f2027;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
      background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
      font-family: sans-serif;
      color: #777;
    }
    h1 {
      text-align: center;
    }
  </style>
</head>

<body>
  <!-- <input type="text" placeholder="Search..."> -->
  <h1>Choose a screen to view here</h1>
</body>

</html>