.find-input-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  width: calc(100vw - 300px);
  backdrop-filter: blur(5px);
}

#find-input {
  border: 1px solid #cccccc55;
  width: calc(100vw - 200px);
  border-radius: 5px;
  font-size: 1rem;
  background-color: #22222255;
  color: #fff;
  padding: 8px 16px;
}

.find-input-container button{
  border: none;
  background-color: #44444455;
  color: #fff;
  padding: 4px 8px;
}

.find-input-container button:hover{
  background-color: #66666655;
}

#find-input:focus-visible{
  outline: 1px solid #ffffff55;
}