<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="./sidebar.css">
</head>

<body>
  <div id="sidebar">
    <div class="drag-region"></div>
    <div class="urlBar-wrapper">
      <button onclick="goBack()"> <img class="deg-180" src="../../assets/forward.svg" alt="back"></button>
      <input autofocus type="text" id="urlBar" placeholder="Enter URL" onkeyup="navigate(event)">
      <button onclick="goForward()"> <img src="../../assets/forward.svg" alt="forward"> </button>
      <div class="search-result" id="search-result-id">

      </div>
    </div>
    <div class="buttons">
      <button id="newTab" class="action" onclick="createTab()">New Tab</button>
      <button id="reload" class="action" onclick="reload()">
        <img width="16px" src="../../assets/reload.png" alt="Reload">
      </button>
    </div>
    <div id="tabList"></div>
  </div>
</body>
<script>

  console.log("OS ", window.electronAPI.getOS);

  if (window.electronAPI.getOS === 'linux') {
    document.querySelector('.drag-region').style.display = 'none';
  }

  function navigate(event) {



    console.log('navigate', event.key)

    if (event.key === 'Escape') {
      document.querySelector('#search-result-id').style.display = 'none';
      return;
    }

    window.electronAPI.getHistory();

    if (event.key === 'Enter') {
      const value = event.target.value;
      console.log({ value });
      if (validDomains.some((domain) => value.includes(domain))) {
        console.log('inside', { value })
        window.electronAPI.navigate(`https://${value}`);
      } else {
        const searchUrl = `https://www.google.com/search?q=${encodeURIComponent(value)}`;
        window.electronAPI.navigate(searchUrl);
      }
    }
  }

  function createTab() {
    window.electronAPI.createTab('');
  }

  // In your sidebar JavaScript
  window.electronAPI.onUpdateTabs((event, { tabs, activeTabId }) => {
    // Update your sidebar UI with the new tab information
    updateTabsUI(tabs, activeTabId);
  });

  function updateTabsUI(tabs, activeTabId) {
    // Clear existing tabs
    const tabList = document.getElementById('tabList');
    tabList.innerHTML = '';

    // Add new tabs
    tabs.forEach(tab => {
      const tabElement = document.createElement('div');

      let spinner = document.createElement('div');
      spinner.classList.add('spinner');

      tabElement.appendChild(spinner);

      if (tab.isLoading) {
        spinner.style.display = 'block';
      } else {
        spinner.style.display = 'none';
      }

      let textElement = document.createElement('span');
      textElement.textContent = tab.title;
      tabElement.appendChild(textElement);

      tabElement.onclick = () => window.electronAPI.switchTab(tab.id);
      if (tab.id === activeTabId) {
        tabElement.classList.add('active');
      }

      let deleteBtn = document.createElement('button');
      deleteBtn.textContent = 'X';
      deleteBtn.onclick = (event) => closeTab(event, tab.id);
      tabElement.appendChild(deleteBtn);
      tabList.appendChild(tabElement);
      if (tab.id === activeTabId) {
        if (tab.url.includes('new-tab')) {
          document.getElementById('urlBar').value = '';
        } else {
          document.getElementById('urlBar').value = tab.url;
        }
      }
    });

    // set correct url bar value
    // document.getElementById('urlBar').value = tabs[activeTabId].url;
  }

  function closeTab(event, id) {
    event.stopPropagation();
    window.electronAPI.closeTab(id);
  }

  function reload() {
    window.electronAPI.reload();
  }

  function goBack() {
    window.electronAPI.goBack();
  }

  function goForward() {
    window.electronAPI.goForward();
  }

  window.electronAPI.focusUrlBar((event, url) => {
    console.log('focus called')
    document.getElementById('urlBar').focus()
  })



  window.electronAPI.onHistoryData((data) => {
    // console.log('history data', data)
    if (data.length === 0) {
      document.querySelector('.search-result').style.display = 'none';
      return;
    }

    let searchText = document.getElementById('urlBar').value;
    let filteredData = data.filter(item => item.url.includes(searchText));

    // console.log('filtered data', filteredData)

    let searchItemsHTML = filteredData.slice(0, 10).map(item => `
    <div class="search-result-item" onclick="window.electronAPI.navigate('${item.url}'); document.querySelector('.search-result').style.display = 'none';">
      <span class="search-result-title">${item.url}</span>
      <span class="search-result-url">${item.title}</span>
    </div>
  `).join('');

    document.querySelector('.search-result').innerHTML = searchItemsHTML;
    if (searchText === '' || filteredData.length === 0) {
      document.querySelector('.search-result').style.display = 'none';
    } else {
      document.querySelector('.search-result').style.display = 'block';
    }
  });


  const validDomains = [
    'http',
    'https',
    'www',
    '.com',
    '.org',
    '.net',
    '.io',
    '.gov',
    '.edu',
    '.co',
    '.in',
    ".me"
  ];



</script>

</html>