<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="./sidebar.css">
</head>

<body>
  <div id="sidebar">
    <div class="tip"> Press <span>CMD + .</span> to toggle sidebar </div>
    <div class="urlBar-wrapper">
      <button onclick="goBack()"> <img class="deg-180" src="../../assets/forward.svg" alt="back"></button>
      <input autofocus type="text" id="urlBar" placeholder="Enter URL" onkeyup="navigate(event)">
      <button onclick="goForward()"> <img src="../../assets/forward.svg" alt="forward"> </button>
    </div>
    <div>
      <button id="newTab" onclick="createTab()">New Tab</button>
    </div>
    <div id="tabList"></div>
  </div>
</body>
<script>
  function navigate(e) {
    if (e.key === 'Enter') {
      const url = document.getElementById('urlBar').value;
      if (url.length > 0) {
        if (url.startsWith('http')) {
          window.electronAPI.navigate(url);
        } else {
          window.electronAPI.navigate('https://' + url);
        }
      }
    }
  }

  function createTab() {
    window.electronAPI.createTab('https://www.google.com');
  }

  // In your sidebar JavaScript
  window.electronAPI.onUpdateTabs((event, { tabs, activeTabId }) => {
    // Update your sidebar UI with the new tab information
    updateTabsUI(tabs, activeTabId);
  });

  function updateTabsUI(tabs, activeTabId) {
    // Clear existing tabs
    const tabList = document.getElementById('tabList');
    tabList.innerHTML = '';

    // Add new tabs
    tabs.forEach(tab => {
      const tabElement = document.createElement('div');
      tabElement.textContent = tab.title;
      tabElement.onclick = () => window.electronAPI.switchTab(tab.id);
      if (tab.id === activeTabId) {
        tabElement.classList.add('active');
      }

      let deleteBtn = document.createElement('button');
      deleteBtn.textContent = 'X';
      deleteBtn.onclick = (event) => closeTab(event,tab.id);
      tabElement.appendChild(deleteBtn);
      tabList.appendChild(tabElement);
    });

    // set correct url bar value
    document.getElementById('urlBar').value = tabs[activeTabId].url;
  }

  function closeTab(event,id) {
    event.stopPropagation();
    window.electronAPI.closeTab(id);
  }

  function goBack() {
    window.electronAPI.goBack();
  }

  function goForward() {
    window.electronAPI.goForward();
  }
  
</script>
</html>