:root {
  --color-background: #01012b88;
  --color-sidebar: rgba(38, 38, 55, 0.7);
  --color-active-tab: #ff2a6d;
  --color-inactive-tab: #05d9e8;
  --color-text: #FFFFFF;
  --color-accent: #005678DD;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 200;
  background-color: var(--color-background);
  color: var(--color-text);
}

#sidebar {
  width: auto;
  height: 100vh;
  background-color: var(--color-sidebar);
  backdrop-filter: blur(10px);
  background-image: url('../../assets/sidebar-27.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 0px;
  display: flex;
  flex-direction: column;
  padding: 2px;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-wrap: nowrap
}

#sidebar .tip {
  font-size: 0.7rem;
  color: #fff;
  padding: 10px;
}

#sidebar>div {
  padding: 5px;
}

.urlBar-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.urlBar-wrapper>button {
  background-color: #FFFFFFAA;
  border: none;
  outline: none;
  width: 30px;
  height: 30px; 
  border-radius: 50%;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.urlBar-wrapper>button>img {
  color: #fff;
  width: 20px;
  height: 20px;
}

.deg-180 {
  transform: rotate(180deg);
}


#urlBar {
  background-color: #00567855;
  border: 1px solid #05d9e8;
  backdrop-filter: blur(20px);
  width: calc(100% - 20px);
  border-radius: 20px;
  padding: 10px;
  outline: none;
  color: #fff;
}

#urlBar:focus {
  border: 2px solid gold;
}

button#newTab {
  background-color: #005678AA;
  border: none;
  color: #fff;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
button#newTab:hover {
  background-color: #005678DD;
  backdrop-filter: blur(5px);
}

::-webkit-scrollbar {
  display: none;
  background-color: #666;
  width: 10px;
}

#tabList {
  height: 80vh;
  overflow-y: scroll;

}
#tabList>div {
  /* background-color: var(--color-inactive-tab); */
  background-color: #FFFFFF22;
  border: 1px solid var(--color-inactive-tab);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  gap: 10px;
  margin: 10px 0;
  word-wrap: ellipsis;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

#tabList>div>button {
  background-color: transparent;
  backdrop-filter: blur(5px);
  background-color: red;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: crosshair;
  display: none;
  font-size: 0.5rem;
}

#tabList>div:hover button {
  display: block;
}
#tabList>div:hover {
  background-color: rgba(0, 255, 255, 0.5);
}

#tabList>div.active {
  background-color: rgba(0, 255, 255, 0.5);
  border: none;
  color: #222;
  border: 1px solid rgba(0, 255, 255, 0.5);
  font-weight: 600;
}